<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
    <title th:text="${title}"></title>
</head>

<body>
    <div class="container">
        <h1 th:text="${title}" class="text-success border border-primary"></h1>

        <a th:href="@{/scholarship/Scholarship-Form}" class="btn btn-success btn-xs">Crear beca</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Monto</th>
                    <th>Fecha de Otorgamiento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="scholarship: ${scholarships}">
                    <td th:text="${scholarship.id}"></td>
                    <td th:text="${scholarship.name}"></td>
                    <td th:text="${scholarship.amount}"></td>
                    <td th:text="${scholarship.awardDate}"></td>
                    <td>
                        <a class="btn btn-primary btn-xs"
                            th:href="@{/scholarship/Scholarship-Form/} + ${scholarship.id}" th:text="'Editar'"></a>
                        <a class="btn btn-danger btn-xs"
                            th:href="@{/scholarship/delete/} + ${scholarship.id}" th:text="'Eliminar'"
                            onclick="return confirm('¿Estás seguro que quieres eliminar?')"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>